<a href="https://colab.research.google.com/github/rahulranjan74/ML_Projects_74/blob/main/LogisticRegression_TitanicDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [2]:
training_ds = pd.read_csv('training.csv')
test_ds = pd.read_csv('test.csv')

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
sex = pd.get_dummies(training_ds['Sex'], drop_first = True)
embarked = pd.get_dummies(training_ds['Embarked'], drop_first = True)
Pclass = pd.get_dummies(training_ds['Pclass'], drop_first = True)

In [5]:

training_ds = pd.concat([training_ds, sex, embarked,Pclass], axis = 1)
training_ds.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,male,Q,S,2,3
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1,0,0,1,1,0
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0,1,0,1,0,1
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0,1,0,1,1,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0,0,0,1,0,1
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0,1,0,1,0,1

In [6]:
training_ds.drop(['Sex', 'Pclass', 'Embarked', 'Cabin', 'Name', 'Ticket'],axis = 1, inplace = True)
training_ds.head()

    Age  SibSp  Parch    Fare  Survived  male  Q  S  2  3
0  29.0      1      0  26.000         1     0  0  1  1  0
1   NaN      0      0   8.050         0     1  0  1  0  1
2  39.0      0      0  26.000         0     1  0  1  1  0
3  29.0      0      4  21.075         0     0  0  1  0  1
4  25.0      0      0   7.050         0     1  0  1  0  1

In [7]:
#check for null values
training_ds.isnull().sum()

Age         132
SibSp         0
Parch         0
Fare          0
Survived      0
male          0
Q             0
S             0
2             0
3             0
dtype: int64

In [8]:
#handling null values
import numpy as np
train_values = {'Age' : round(np.mean(training_ds['Age']))}
training_ds = training_ds.fillna(value = train_values)
training_ds.head()

    Age  SibSp  Parch    Fare  Survived  male  Q  S  2  3
0  29.0      1      0  26.000         1     0  0  1  1  0
1  30.0      0      0   8.050         0     1  0  1  0  1
2  39.0      0      0  26.000         0     1  0  1  1  0
3  29.0      0      4  21.075         0     0  0  1  0  1
4  25.0      0      0   7.050         0     1  0  1  0  1

In [9]:
sex = pd.get_dummies(test_ds['Sex'], drop_first = True)
embarked = pd.get_dummies(test_ds['Embarked'], drop_first = True)
Pclass = pd.get_dummies(test_ds['Pclass'], drop_first = True)

In [10]:
test_ds = pd.concat([test_ds, sex, embarked,Pclass], axis = 1)
test_ds.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,male,Q,S,2,3
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S,1,0,1,1,0
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S,0,0,1,0,0
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q,1,1,0,0,1
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S,0,0,1,1,0
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S,1,0,1,0,0

In [11]:
test_ds.drop(['Sex', 'Pclass', 'Embarked', 'Cabin', 'Name', 'Ticket'],axis = 1, inplace = True)
test_ds.head()

    Age  SibSp  Parch     Fare  male  Q  S  2  3
0   8.0      1      1  36.7500     1  0  1  1  0
1  49.0      0      0  25.9292     0  0  1  0  0
2   NaN      0      0   7.7375     1  1  0  0  1
3  24.0      2      1  27.0000     0  0  1  1  0
4  36.0      0      0  26.2875     1  0  1  0  0

In [12]:
test_ds.isnull().sum()

Age      45
SibSp     0
Parch     0
Fare      0
male      0
Q         0
S         0
2         0
3         0
dtype: int64

In [13]:
test_values = {'Age' : round(np.mean(test_ds['Age']))}
test_ds = test_ds.fillna(value = test_values)
test_ds.head()

    Age  SibSp  Parch     Fare  male  Q  S  2  3
0   8.0      1      1  36.7500     1  0  1  1  0
1  49.0      0      0  25.9292     0  0  1  0  0
2  30.0      0      0   7.7375     1  1  0  0  1
3  24.0      2      1  27.0000     0  0  1  1  0
4  36.0      0      0  26.2875     1  0  1  0  0

In [15]:
X = training_ds.drop('Survived', axis = 1)
y = training_ds['Survived']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=1)

In [17]:
logmodel = LogisticRegression(solver = 'liblinear')

In [20]:
logmodel.fit(X_train.values, y_train)

LogisticRegression(solver='liblinear')

In [21]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(solver='liblinear')

In [23]:
predictions = logmodel.predict(X_test.values)

In [25]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.85      0.84      0.85        83
           1       0.75      0.76      0.76        51

    accuracy                           0.81       134
   macro avg       0.80      0.80      0.80       134
weighted avg       0.81      0.81      0.81       134

In [26]:
print(accuracy_score(y_test, predictions))

0.8134328358208955

In [28]:
final_test_predictions = logmodel.predict(test_ds.values)

In [35]:
submissionfile = pd.read_csv('newsubmission.csv')
submissionfile['Survived'] = final_test_predictions
submissionfile.to_csv('submission.csv', index = False)